html, body {
    height: 100%;
}

.button{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.home_browse {
    background: #f00060;
    height: 50%;
	text-align: center;
}

.home_upload {
    background: #000000;
    height: 50%;
	text-align: center;
}

.home_about {
    background: #0f0;
    height: 20%;
	text-align: center;	
}

.img_div {
    text-align: center;
}